@charset "utf-8";

 @import url("reset.css");
  @import url("gridtable.css");
 @import url("rowtable.css"); /* 只能放前面,不能放本地元素后面 */
 
.requiredStar {color: #FF0000}

 .Red {color: #FF0000}


input[readonly]{
background-color: #f1f1f5
}



/* input[type="checkbox"]+label>i {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #bbb;
    background: #bbb;
    margin-right: 10px;
    vertical-align: middle;
} */

input[type="text"]{  
    border: 1px solid #beebee;
} 


input[type="radio" i], input[type="checkbox" i] {
    background-color: #ff0000;
    color: #ff0000;
}

input[type="checkbox"] {
    background-color: #ff0000;
    color: #ff0000;
}
