@charset "utf-8";

*{margin:0;padding:0;}
html,body {height:100%;}
a,a:hover{ text-decoration:none;}
body{
/* 	color:#40B1EE; */
/* 	font-family:Arial, Simsun, Microsoft YaHei, Arial Unicode MS, Mingliu, Arial, Helvetica; */
	font-size:14px;
	background-color: #FFFFFF;
/* 	background-image: url(../img/bg_pagerig.gif); */
	background-repeat: repeat-x;
	background-position: left top;
	
	}
/* table,tr,td{ //没用 */
/*   font-size:14px; */
/* } */
/* td,p,li,select,input,h1,h2,h3,h4,h5,h6{line-height:150%;} */

ul,ol{list-style-type:none;}






