table.gridtable tr td {
    border-left: 1px solid #7FD2FF;  /*����*/
 }
 
 tr {
/* 	font: bold 12px/20px Arial; */
/* 	text-align: left; */
/* 	padding: 4px; */
/* 	height:10px;  不起作用*/
line-height: 10px;
}

 th,td {
 border-width: 0 1px 1px 0;
  border-style: dotted;
  margin: 0;
  padding: 0;
    border-color: #ccc;
}
